extends layout

block content
    section(style='height:90vh;')
        .container
            .row
                .col-md-8.mx-auto
                    h1=title
                    form(method='POST' action='/auth/signIn')
                        fieldset.form-group
                            label(for='username') Username:
                            input#username.form-control(type='text', placeholder='username' name='username' value=(undefined===username ? '' : user.username))
                            label(for='password') Password:
                            input#password.form-control(type='password', placeholder='password' name='password' value=(undefined===password ? '' : user.password))
                        button.btn.btn-primary(type='submit') Sign In

                    if errors 
                        ul
                        for error in errors
                            li!= error.msg
